@model IEnumerable<DAL.BookInfo>

@{
    ViewBag.Title = "新华社";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<style>
    table,th {
        text-align: center
    }
</style>
<h2>书籍</h2>

<p class="btn btn-default glyphicon glyphicon-plus">

    @Html.ActionLink("新建", "carete")
</p>
<table class="table table-bordered table-hover class">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Addtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>操作</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @(item.IsLoan == false ? "借出" : "可借")
                @*@Html.DisplayFor(modelItem => item.IsLoan)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.ActionLink("修改", "Update", new { id = item.BookID }, new { @class = "btn btn-primary glyphicon glyphicon-pencil" })
                @*@Html.ActionLink("详情", "Details", new { id=item.BookID }) |*@
                @Html.ActionLink("删除", "Delete", new { id = item.BookID }, new { @class = "btn btn-danger glyphicon glyphicon-remove" })
            </td>
        </tr>
    }

</table>
